go 1.25.4

use (
	./cmd/routes-provisioner
	./core
	./impl/cert-acme-dns
	./impl/cert-acme-http
	./impl/cert-selfsigned
	./impl/cert-vault
	./impl/certstore-file
	./impl/certstore-kube
	./impl/certstore-vault
	./impl/lease-kube
	./impl/lease-mongo
	./impl/provisioner-log
	./impl/provisioner-netscaler
	./impl/source-http
	./impl/source-mongo
)
